language: java
language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - build-tools-27.0.3
    - platform-tools
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-google-android-support
    - android-28
    - android-27
    - sys-img-armeabi-v7a-android-28
    - sys-img-armeabi-v7a-android-27

licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'

branches:
  except:
    - /^[0-9]/ # Workaround to not to trigger Travis with tags - https://github.com/travis-ci/travis-ci/issues/1532
before_install:
  - printf "bintrayUser=$BINTRAY_USER\nbintrayKey=$BINTRAY_KEY\ngradle.publish.key=$GRADLE_PUBLISH_KEY\ngradle.publish.secret=$GRADLE_PUBLISH_SECRET\n" > gradle.properties
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    # Android build cache (see http://tools.android.com/tech-docs/build-cache)
    - $HOME/.android/build-cache
before_script:
  - |
      if [ "$TRAVIS_PULL_REQUEST" != "false" ] && [ "$TRAVIS_BRANCH" = "master" ]; then
        echo "Do not open PRs against master; merge dev into master locally and push instead."
        exit 1
      fi
script:
- ./gradlew plugin:publishToMavenLocal
  - ./gradlew clean assemble clean :plugin:check
after_success:
  - |
      if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" = "master" ]; then
        echo "CI on master succeded. Executing release tasks..."
        git fetch --unshallow
        ./gradlew bintrayUpload publishPlugins -PbintrayUser="$BINTRAY_USER" -PbintrayKey="$BINTRAY_KEY" -PdryRun=false
      fi
